
.main{
  background-repeat:no-repeat;
 margin-left: 150px;
 margin-top:100px;
 height: 66%;
  width: 300px;
  position: absolute;
    background-color: none;

  padding-top: 5px;
}
.un{

background-color: White;
font-weight:400;
padding:10px 20px;
border-radius:5px;

border: 2px solid #F0F0F0;
 }
.submit
{
  background-color: White;
  color: #A0A0A0;
  font-weight:400;
  padding:10px 20px;
  border-radius:5px;

  border: 2px solid #F0F0F0;

}
.submit:hover{

background-image:none !important;
background-color:#ccffeb;
color: #00e6ac;

}
a{
color: #00e6ac;
text-decoration:none;
margin-left:2%;
}
.img{
background-repeat:no-repeat;
float:right;


}
